{% extends "base.html" %}
{% block content %}
<div class="m-container m-container-inflatable">
  <div class="m-row">
    <article class="m-col-l-10 m-push-l-1">
      <section id="intro">
        <img class="m-image" src="/assets/img/banner.png" alt="alticu banner"/>
        <h1>ALTiCU Portal</h1>
        <p>
          ALTiCU hosts applications for internal and public use.
        </p>
      </section>
      <section id="portal">
      <h2>Application Portal</h2>
      {% for service in services %}
        <div class="m-block m-badge m-{{ "success" if service.online else "dim" if service.type == "Coming Soon" else "danger"}}">
          <img src="/assets/img/icons/{{ service.icon if service.icon else "question.png"}}" alt="icon"/>
          <h3>
            {{ service.name }}
            {% if service.type != "Public" %}
              <span class="m-label m-{{ _.p_m[service.type] }}">{{ service.type }}</span>
            {% endif %}
          </h3>
          <p>{{ service.description }}</p>
          <div class="m-button m-{{ "info" if service.online else "dim" }} m-right-l">
            {% if service.online %}
              <a href="{{ service.url }}" target="_blank">View</a>
            {% else %}
              <a href="#" class="disabled" style="color:#22272E;">View</a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
      </section>
    </article>
  </div>
</div>
{% endblock %}
