{% extends "base.html" %}
{% block content %}
<div class="m-container m-container-inflatable">
  <div class="m-row">
    <article class="m-col-l-10 m-push-l-1">
      <section id="intro">
        <h1>Contact us</h1>
        <p>
          Feel free to come chat with us!
        </p>
      </section>
      <section id="methods">
        <h2>Contact Methods</h2>
        {% for method in _.contact %}
          <div class="m-block m-badge m-success">
            <img src="/assets/img/icons/question.png"/>
            <h3>
              {{ method.name }}
            </h3>
            <p>{{ method.data }}</p>
            <div class="m-button m-info m-right-l">
              <a href="{{ method.url }}" target="_blank">Go</a>
            </div>
          </div>
        {% endfor %}
      </section>
    </article>
  </div>
</div>
{% endblock %}
