{% extends "base.html" %}
{% block content %}
<div class="m-container m-container-inflatable">
  <div class="m-row">
    <article class="m-col-l-10 m-push-l-1">
      <section id="intro">
        <h1>Privacy Policy</h1>
      </section>
      <section id="what-we-collect">
        <h2>1. Log files</h3>
        <p>Like most other websites, we store nginx access logs. The information in these log files includes:</p>
        <ul>
          <li>Your Internet Protocol (IP) address</li>
          <li>Information about your browser and OS</li>
          <li>The date and time of your visit</li>
          <li>The exact page you visited</li>
        </ul>
        <p>This data is not linked to anything, and is only used for debugging.</p>
        <h2>2. Analytics</h2>
        <p>
          This website uses the Fathom analytics system. Fathom uses cookies to identify a session.<br/>
          Your session is not associated with any personal information, and is cleared after 30 minutes of not interacting with the site.<br/>
          If you would like to opt out of analytics, you can do so by enabling the "Do not track" option in your browser.
        </p>
      </section>
    </article>
  </div>
</div>
{% endblock %}
