<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/assets/css/m-dark.min.css" title="Dark"/>
  <link rel="alternate stylesheet" href="/assets/css/m-light.min.css" title="Light"/>

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="theme-color" content="#22272e"/>
  <meta name="og:site_name" content="ALTiCU"/>
  <link rel="icon" href="/assets/img/icon.png">

  <title>{{ title }}</title>
</head>

<body>
  <header>
    <nav id="navigation">
      <div class="m-container">
        <div class="m-row">
          <a href="/" id="m-navbar-brand" class="m-col-t-8 m-col-m-none m-left-m">ALTiCU</a>
          <a id="m-navbar-show" href="#navigation" title="Show navigation" class="m-col-t-3 m-hide-m m-text-right"></a>
          <a id="m-navbar-hide" href="#" title="Hide navigation" class="m-col-t-3 m-hide-m m-text-right"></a>
          <div id="m-navbar-collapse" class="m-col-t-12 m-show-m m-col-m-none m-right-m">
            <div class="m-row">
              <ol class="m-col-t-6 m-col-m-none">
                <li>
                  <a href="/">Home</a>
                </li>
                <li>
                  <a href="/portal">Portal</a>
                </li>
                <li>
                  <a href="/about/contact">Contact</a>
                </li>
                <li>
                  <a href="https://blog.alt.icu">Blog</a>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>

  <footer>
    <nav>
      <div class="m-container">
        <div class="m-row">
          <div class="m-col-l-10 m-push-l-1">
            <p>
              Copyright &copy; 2018 ALTiCU.<br/>
              <a href="/privacy">Privacy Policy</a>
            </p>
            <p>
              This work is licensed under a
              <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>.<br/>
              <a href="https://gitlab.com/ALTiCU/alt.icu/blob/master/{{ file }}">Page source</a>
            </p>
          </div>
        </div>
      </div>
    </nav>
  </footer>

  <script>
    (function(f, a, t, h, o, m){
      a[h]=a[h]||function(){
      (a[h].q=a[h].q||[]).push(arguments)
      };
      o=f.createElement('script'),
      m=f.getElementsByTagName('script')[0];
      o.async=1; o.src=t; o.id='fathom-script';
      m.parentNode.insertBefore(o,m)
    })(document, window, '//track.alt.icu/tracker.js', 'fathom');
    fathom('set', 'siteId', 'RUWOT');
    fathom('trackPageview');
  </script>
</body>

</html>
