{% extends "base.html" %}
{% block content %}
<div class="m-container m-container-inflatable">
  <div class="m-row">
    <article class="m-col-l-10 m-push-l-1">
      <section id="intro">
        <img class="m-image" src="/assets/img/banner.png" alt="alticu banner"/>
        <h1>ALTiCU</h1>
        <p>
          We are ALTiCU. We are a small group of developers who have been making free and open source software for years.
        </p>
        <p>
          We aim to build better software and promote software freedom through our work.
        </p>
        <div class="m-button m-primary">
          <a href="https://blog.alt.icu">Blog</a>
        </div>
      </section>
      <section id="projects">
        <h2>Projects</h2>
        {% for project in projects %}
          <div class="m-block m-badge m-{{ "warning" if project.status == "WIP" else "success" }}">
            <img src="/assets/img/icons/{{ project.icon if project.icon else "question.png"}}"/>
            <h3>
              {{ project.name }}
              {% if project.status != "Release" %}
                  <span class="m-label m-{{ _.s_m[project.status] }}">{{ project.status }}</span>
              {% endif %}
            </h3>
            <p>{{ project.description }}</p>
            <div class="m-button m-info m-right-l">
              <a href="{{ project.site }}" target="_blank">View</a>
            </div>
          </div>
        {% endfor %}
      </section>
    </article>
  </div>
</div>
{% endblock %}
